body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(10, 10, 30); /* Azul oscuro para fondo principal */
  padding-top:150px;
}
h1{
    color:rgb(255, 255, 255);
    font-size:xx-large;
    font-weight:700;
    text-align: center;
    margin:10px;
}
h3{
    color:rgb(255, 255, 255);
    font-size:x-large;
    font-weight:700;
    text-align:left;
    margin:5px;
}

p{
    color:rgb(255, 255, 255);
    font-size:medium;
    font-weight:500;
    padding:1px;
    margin:1px
}

a{
    color:rgb(237, 218, 9);
    font-size:medium;
    font-weight:500;
    padding:1px;
    margin:1px
}


.marco-superior{
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(0, 50, 100); /* Azul más intenso */
    border: 3px solid rgb(0, 150, 200); /* Azul claro */
    padding: 5px;
    z-index:999;
}
.marco-superior-aprobado{
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(0, 50, 0); /* Verde oscuro */
    border: 3px solid rgb(0, 150, 0); /* Verde claro */
    border-radius: 10px;
    padding: 5px;
    z-index:999;
}

.opciones-conteiner{   
    display:flex;
    padding: 5px;

}
.opciones{
    border-radius: 10px;
    border:1px solid rgb(47, 49, 56);
    background-color: rgb(1, 1, 16);
    color:rgb(248, 255, 248);
    font-size:medium;
    margin: 3px;
    padding: 5px;
}

.contenedor-btn-aclaraciones {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex; /* Flexbox para controlar la alineación */
    justify-content: flex-end; /* Alinea el contenido (botón) a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
    margin: 2px;
    z-index: 2000;;
}
.btn-aclaraciones {
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Alto del círculo */
    border-radius: 50%; /* Hace el botón circular */
    background-color: rgba(21, 21, 21, 0.24); /* Fondo naranja */
    border: 3px solid rgb(231, 231, 231); /* Borde blanco */
    color: rgb(217, 217, 217); /* Color del símbolo */
    font-size: 20px; /* Tamaño del símbolo */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.aclaraciones-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.589);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index:1000;
}
.aclaraciones-conteiner {
  width: 70vw;
  height: 80vh;

  background: rgb(81, 81, 81);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 8px;
  padding: 20px;
}




.oculto{
    display: none;
    background-color: rgb(100, 0, 0); /* Rojo oscuro */
    color:rgb(255, 255, 255);
    border:2px solid rgb(200, 0, 0); /* Rojo claro */
}

.dem-colores{
    margin:10px;
    box-sizing: border-box;
}
.ej-noDisponible{
    margin: 5px;
    padding: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    border-radius: 10px;
    color: rgb(255, 180, 180); /* Rojo tenue */
    background-color: rgb(20, 0, 0); /* Casi negro con tinte rojo */
    border: 2px solid rgb(60, 0, 0); /* Rojo muy oscuro */
}
.ej-disponible{
    margin: 5px;
    padding: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    border-radius: 10px;
    color: rgb(255, 220, 220); /* Rojo muy claro */
    border: 2px solid rgb(255, 50, 50); /* Rojo brillante */
    background-color: rgb(150, 0, 0); /* Rojo intenso */
}
.ej-cursoAprobado{
    margin: 5px;
    padding: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    border-radius: 10px;
    color:rgb(209, 209, 250); /* Azul claro */
    border: 2px solid rgb(0, 150, 200); /* Azul medio */
    background-color: rgb(0, 0, 100); /* Azul oscuro */
}
.ej-examenAprobado{
    margin: 5px;
    padding: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgb(0, 200, 0); /* Verde claro */
    background-color: rgb(0, 100, 0); /* Verde medio */
}
.ej-minimoAlcanzado{
    margin: 8px;
    padding: 5px;
    height:fit-content;
    width:fit-content;
    display: inline-block;
    border-radius: 10px;
    border: 4px solid rgb(0, 255, 0); /* Verde brillante */
    background-color: rgb(0, 20, 0); /* Verde muy oscuro */
}




.grupo{
  margin: 8px;
  padding: 8px;
  border: 3px solid rgb(0, 150, 200); /* Azul claro */
  height:fit-content;
  width:99%;
  box-sizing: border-box;
  background-color: rgb(0, 20, 40); /* Azul oscuro */
  border-radius: 10px;
    font-size:large;
    font-weight:500;
}
.grupo-aprobado{
    margin: 8px;
    padding: 8px;
    border: 3px solid rgb(0, 200, 0); /* Verde claro */
    height:fit-content;
    width:99%;
    box-sizing: border-box;
    background-color: rgb(0, 20, 0); /* Verde oscuro */
    border-radius: 10px;
    font-size:large;
    font-weight:500;
}

.lista-materias {
  display: inline-block;
  height:fit-content;
  width:fit-content;
  vertical-align:top;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 150, 200); /* Azul claro */
  background-color: rgb(0, 30, 60); /* Azul medio */
  border-radius: 10px;
  color:antiquewhite
}
.lista-materias-aprobadas {
  display: inline-block;
  height:fit-content;
  width:fit-content;
  vertical-align:top;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 200, 0); /* Verde claro */
  background-color: rgb(0, 30, 0); /* Verde medio */
  border-radius: 10px;
  color:rgb(247, 246, 245)
}


button.noDisponible{
    color: rgb(255, 180, 180); /* Rojo tenue */
    background-color: rgb(20, 0, 0); /* Casi negro con tinte rojo */
    border: 2px solid rgb(60, 0, 0); /* Rojo muy oscuro */

    font-size:medium;
    font-weight:500;
    text-align:center;
    height:fit-content;
    width:fit-content;

    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

button.disponible{
    color: rgb(255, 220, 220); /* Rojo muy claro */
    border: 2px solid rgb(255, 50, 50); /* Rojo brillante */
    background-color: rgb(150, 0, 0); /* Rojo intenso */

    font-size:medium;
    font-weight:500;
    text-align:center;
    height:fit-content;
    width:fit-content;

    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

button.cursoAprobado{  /* Cambiado: colores del actual disponible (azul) */
    color:rgb(209, 209, 250); /* Azul claro */
    border: 2px solid rgb(0, 150, 200); /* Azul medio */
    background-color: rgb(0, 0, 100); /* Azul oscuro */
    font-size:medium;
    font-weight:500;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

button.examenAprobado{
    color:rgb(248, 255, 248); /* Verde claro */
    border: 2px solid rgb(0, 200, 0); /* Verde medio */
    background-color: rgb(0, 100, 0); /* Verde oscuro */
    font-size:medium;
    font-weight:500;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.bottom{
    text-align:right;
    margin-top: 10px;
    color:black;
    
}
.bottom-firma{
    font-size:normal;
    font-weight:normal;
    text-align:right;
    margin:3px;
    padding:2px;
    display:inline-block;
}
.bottom-contacto{
    font-size:normal;
    font-weight:normal;
    text-align:center;
    margin:3px;
    padding:2px;
    display:inline-block;
}