body {
  font-family: Arial, sans-serif;
  padding: 20px;
}


.grupo{
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  height:fit-content;
  width:fit-content;
  background-color: rgb(61, 124, 142);
  border-radius: 10px;
}

.lista-materias {
  display: inline-block;
  height:fit-content;
  width:fit-content;
  vertical-align:top;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(38, 73, 171, 0.943);
  border-radius: 10px;
}


.materia{
    color:black;
    font-size:medium;
    font-weight:bold;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;

}

button.noDisponible{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-weight:bold;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(139, 59, 59);
    border-radius: 10px;
}

button.disponible{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-weight:bold;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(231, 82, 82);
    border-radius: 10px;
}

button.cursoAprobado{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-weight:bold;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(86, 145, 232);
    border-radius: 10px;
}

button.examenAprobado{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-weight:bold;
    text-align:center;
    height:fit-content;
    width:fit-content;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(13, 165, 36);
    border-radius: 10px;
}